
.App {
    max-width: 90em;
    width: 100%;
    min-height: 100vh;

    background: var(--color_fondo);

    margin: 0 auto;
    padding: 2em;

    text-align: center;

    display: grid;
    place-items: center;
    
    box-shadow: inset 0 0 1em .3em var(--color_complementario);
    border-radius: 2em;
    
}