/* variables */
:root{
    --fuente_principal: 'Audiowide', cursive;
    --fuente_secundaria: 'Tilt Neon', cursive; 
    
    --color_principal: #0c4008;
    --color_secundario: #135f0c;
    --color_complementario: #197f10;
    --color_fondo: #101010;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
    opacity: 1;
    background-image:  linear-gradient(30deg, #0d7c02 12%, transparent 12.5%, transparent 87%, #0d7c02 87.5%, #0d7c02), linear-gradient(150deg, #0d7c02 12%, transparent 12.5%, transparent 87%, #0d7c02 87.5%, #0d7c02), linear-gradient(30deg, #0d7c02 12%, transparent 12.5%, transparent 87%, #0d7c02 87.5%, #0d7c02), linear-gradient(150deg, #0d7c02 12%, transparent 12.5%, transparent 87%, #0d7c02 87.5%, #0d7c02), linear-gradient(60deg, #0d7c0277 25%, transparent 25.5%, transparent 75%, #0d7c0277 75%, #0d7c0277), linear-gradient(60deg, #0d7c0277 25%, transparent 25.5%, transparent 75%, #0d7c0277 75%, #0d7c0277);
    background-size: 28px 49px;
    background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
}
